.containers{
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}
.containers .cards{
    display: flex;
    flex-direction: column;
    margin: 25px;
    position: relative;
    height: 300px;
    overflow: hidden;
    width: 500px;
    border: 0.05px solid black;
}
.containers .cards img{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}
.containers .cards .card-info{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    background:rgb(0,0,0,0.6);
    justify-content:flex-end;
    opacity: 0;
}
.containers .cards .card-info:hover{
    cursor: pointer;
    opacity: 1;
}
.containers .cards .card-info h1{
    color: white;
    font-size: 2rem;
}
.containers .cards .card-info button{
    border:none;
    outline: none;
    font-size: 18px;
    width: 80px;
}
.containers .cards .card-info h1,
.containers .cards .card-info button{
    transform: translateX(-400px);
    transition: 0.3s ease-in-out;
}
.containers .cards:hover .card-info h1,
.containers .cards:hover .card-info button{
    transform: translateX(0px);
}


