
.pricing{
    background-color: #b19cd9;
    color: #333;
    font-size: 18px;
    line-height: 20px;
    max-width: 100%;
overflow-x: hidden;
}
.plans{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.boxes{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;
    height: 58vh;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 12x 18px -6px rgb(0, 0 , 0 , 0.5);
    border-radius: 20px;
    padding: 20px;
    color:#4e2d92;
}

@media only screen and (max-width: 1500px) {
  .boxes{
      
      height: 100%;
      
  }
  .boxes .card-body{
      padding-left: 0;
      padding-right: 0;
  }
  .plans{
      max-width:90%;
  }
  .title{
      text-align: center;

  }
  .containers .cards {
    margin: 25px 0px !important;

}
  
}


.title{
    font-size: 3rem;
    font-weight: 700;
}
.freearea-50{
    padding:50px;
}
.freearea-100{
    padding:100px;
}
.freearea-200{
    padding:200px;
}
.freearea-300{
    padding:300px;
}
ul {
    list-style: none;
}
ul>li{
    margin: 4px;
    }
    .included::before{
        content: '✓  ';
        color: green;
       font-weight: 900;
    }
    .not-included::before{
        content: 'X ';
        color: red;
        font-weight: 600;
    }
  .green{
      width: 100%;
      height: 600px;
      background-color: lightgreen;
    }
    .orange-box{
    background: #fda543;
    padding: 80px 0 40px 0;
  }
  .brown-box {
    background: #e0673c;
    padding: 80px 0 40px 0;
}

.brown-box h2, .orange-box h2, .strategy-box h2 {
    font-size: 55px;
    line-height: 55px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-family: Montserrat,sans-serif;

}
.brown-box p, .orange-box p, .strategy-box p {
    
    font-family: Rajdhani,serif;
    color: #fff;

}
.strategy-box {
    background: #a0c26b;
    padding: 80px 0 40px 0;
    
}
.callnowfix{
    font-size: 28px;
}
  
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; 
  }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; 
  }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); 
  }

  @media (max-width: 450px) {
    .gallery {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-width: 100%;
      -moz-column-width: 100%;
      column-width: 100%;
    }
  }

  @media (max-width: 400px) {
    .btn.filter {
      padding-left: 1.1rem;
      padding-right: 1.1rem;
    }
  }
  button.close {
    position: absolute;
    right: 0;
    z-index: 2;
    padding-right: 1rem;
    padding-top: .6rem;
  }