ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss {
	background-color: #F56505;
}
.social-network a.icoFacebook {
	background-color:#3B5998;
}
.social-network a.icoTwitter {
	background-color:#33ccff;
}
.social-network a.icoInstagram {
	background-color:#3f729b ;
}
.social-network a.icoWhatsapp{
	background-color:#075e54;
}
.social-network a.icoLinkedin {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoInstagram:hover i, .social-network a.icoWhatsapp:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.footer a {
	
  color:white;
  display: inline;
  
}
 a:hover{
  
    text-decoration:none;
  
}
@media only screen and (min-width: 600px){.card1 {
  transition:all 0.4s ease-out;

}
.card1:hover {
  color: #48ad26;
  cursor: pointer;
  transform: scale(1.06);
}
}

.carousel-root {
	width: 64% !important;
	margin: auto !important;
	margin-top: 3% !important;
  }
  
  .carousel .slide {
	background: #fff !important;
	color: black;
	height: 100%;
  }
  
  .carousel .slide img {
	width: 139px !important;
	border-radius: 50%;
  }
  
  .myCarousel {
	background: darkgrey;
	margin-top: -6%;
	width: 54%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 6%;
	padding-bottom: 8%;
	padding-left: 5%;
	padding-right: 5%;
	border: 1px solid #ddd;
	height: 286px;
  }
  
  .carousel .control-dots {
	padding-left: 5px !important;
	outline: 0;
	bottom: 5% !important;
  }
  
  .myCarousel h3 {
	color: #222;
	font-weight: 100;
	letter-spacing: 0.2px;
	margin-bottom: 4px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 17px;
  }
  
  .myCarousel h4 {
	text-transform: uppercase;
	margin-top: 0;
	padding-top: 0;
	font-weight: 500;
	color: #787878;
	font-size: 14px;
  }
  
  .myCarousel p {
	font-weight: 100 !important;
	line-height: 29px !important;
	color: #222;
	font-size: 15px;
	font-family: sans-serif;
	max-height: 67px;
  }
  
  .myCarousel p:before {
	content: "“";
	color: #aaa;
	font-size: 26px;
	font-family: monospace;
	font-weight: 100;
  }
  
  .myCarousel p:after {
	content: "”";
	color: #aaa;
	font-size: 26px;
	font-family: monospace;
	font-weight: 100;
	line-height: 0;
  }
  
  .carousel .control-dots .dot {
	box-shadow: none !important;
	background: #454545 !important;
	outline: 0;
  }
  
  .carousel.carousel-slider .control-arrow {
	background: #000 !important;
	height: 50px !important;
	position: absolute;
	top: 35% !important;
  }
  
  .App {
	text-align: center;
  }
  
  @media only screen and (max-width: 934px) {
	.carousel-root {
	  outline: 0;
	  width: 93% !important;
	  margin: auto !important;
	}
  
	.carousel.carousel-slider .control-arrow {
	  display: none !important;
	}
	.myCarousel {
	  background: darkgrey;
	  margin-top: -9%;
	  width: 88%;
	  margin-left: auto;
	  margin-right: auto;
	  padding-top: 8%;
	  padding-bottom: 12.5%;
	  padding-left: 5%;
	  padding-right: 5%;
	  border: 1px solid #ddd;
	  height: 269px;
	}
  
	.carousel .slide img {
	  width: 24% !important;
	  border-radius: 50%;
	}
  }