html {
  scroll-behavior: smooth;
 
}
html,
  body,
  header,
  .view {
    height: 100%;
  }

body {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.border-top {
	border-top-width: 2px !important;
  }
.color{
  color: #ff725e;
}
.loader-box{
  height:100vh;
  position: relative;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ff725e;
  width: 120px;
  height: 120px;
  position: fixed;
  top: 40%;
  left: 47%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}
@media(max-width:468px){
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ff725e;
    width: 120px;
    height: 120px;
    position: fixed;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }

}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*navbar */



/** 
 * Reset Styles 
 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	vertical-align: baseline;
}

a {
	text-decoration: none;
}

/**
 * Variables
 */
:root {
	--master-color: #ff725e;
	--master-color-partner-dark: #7c591d;
  --master-color-partner-bright: #f5cd87;
	
	--main-txt-color: #333;
	--headings-color: #263358;
	--link-color: #303438b5;
	--sub-color: #b4b4b4;
	
	--main-bg-color: #fff;
	--secondary-bg-color: #fff;
	
	--content-padding: 1.6em;
}

/** 
 * Typography
 */
body {
	font-family: 'Roboto', Tahoma, sans-serif;
	font-size: 125%;
	font-style: normal;
	background: var(--main-bg-color);
}

/**
 * Page Layout
 */
html, body { height: 100%;} 

.header {
	display: flex;
	flex-flow: row nowrap;
  align-items: center;
	justify-content: space-between;
	max-width: 100%;
	margin: 0 auto;
	padding: 0.5em 1.6em;
	position: relative;
	background-color: var(--secondary-bg-color);
}
.w-100 {
    width: 95%!important;
}

/**
 * Logo
 */
.logo { 
	flex: 3 1 auto; /* 3 part from 10 */
	line-height: 2em;
}

.logo a {
	font-family: 'Noto Serif TC', serif;
	font-size: calc(36px + (45 - 36) * (100vw - 470px) / (1920 - 470));
	font-weight: 700;
	font-style: normal;
	display: inline-block;
	color: var(--headings-color);
	
	-webkit-transition: color .5s;
			transition: color .5s;
}

.logo a:hover {
	color: var(--master-color);
}

/**
 * Main menu
 */
.menu {
	flex: 1 1 auto; /* 1 part from 10 */
	display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.menu__item {
	font-size: 1.2em;
  font-weight: bolder;
  line-height: 2em;
  text-align: center;
	color: var(--link-color);
  position: relative;
  overflow: hidden;
  font-family:"Montserrat"
}

.menu__item_active {
  background-color: #ff725e;
  border-radius: 5px;;
}


.menu__item:after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 3px;
	left: -100%;
	background: #ff725e;
	
	-webkit-transition: all .2s ease-out;
			transition: all .2s ease-out;
}

.menu__item:hover:after {
	left: 0;
}

/**
 * Mobile menu elements
 */
.mobile-menu__opener {
	z-index: 300;
		
	height: 1.2em; 
	width: 1.8em;
	border: none;
	text-align: center;
		
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	position: relative;
}

.mobile-menu__opener span {
	display: block;
	width: 100%;
	height: 2px;
	background: var(--master-color);
	position: absolute;
	top: 50%;
	text-indent: -9999px;
	letter-spacing: -5px;
	text-align: left;
		
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.mobile-menu__opener:before,
.mobile-menu__opener:after {
	display: block;
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	background: var(--master-color);
		
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
				
	backface-visibility: hidden;
	transform-style: preserve-3d;
	-moz-transform-style: flat;
}

.mobile-menu__opener:before {
	top: 0;
}

.mobile-menu__opener:after {
	top: 100%;
}

.mobile-menu__screen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--secondary-bg-color);
	overflow: hidden;
	z-index: 200;
}

.mobile-menu__screen:after {
	content: '';
	height: 2px; 
	position: absolute;
	left: 1.5em;
	right: 1.5em;
	bottom: 0;
	background: var(--master-color-partner-bright);
	background-image: linear-gradient(to right, var(--master-color), var(--master-color-partner-bright));
}

.mobile-menu__opener, 
.mobile-menu__screen {
	display: none;
}

/**
 * Breakpoint 768px 
 */
@media all and (max-width: 768px) { 
	.header {
		height: 6em;
		position: relative;
	}
	
	.logo {
		z-index: 300;
	}
	
	.mobile-menu__opener, 
	.mobile-menu__screen {
		display: block;
	}
 
	.mobile-menu__opener_menu_open:before {
		top: 50%;
		-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
	}
	
	.mobile-menu__opener_menu_open span {
		opacity: 0;
	}

	.mobile-menu__opener_menu_open:after {
		top: 50%;
		-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
	}

	.menu {
		/* hide menu */
		height: auto;
		opacity: 0;
		visibility: hidden;
			
		-webkit-transform: translateY(-100%);
				transform: translateY(-100%);
		
		/* layout in header */
		flex: 1 0 100%;
			
		/* own layout */
		flex-direction: column;
		align-items: flex-start;
			
		/* positioning */
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		padding: var(--content-padding);
		z-index: 100;
			
		/* styling */
		background: var(--main-bg-color);
		box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .1);
			
		/* transition */
		-webkit-transition: transform 500ms ease-in-out 0s;
				transition: transform 500ms ease-in-out 0s;
	}

	.menu_slide_up {
		opacity: 1;
		visibility: visible;
	}
		
	.menu_slide_down { 
		-webkit-transform: translateY(6em);
				transform: translateY(6em);
	}
}
/* NAvbar shadow */

.top-shadow {
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0.1, 0.1);
  -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.stretched {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    /* align-items: center; */
}

/*footer CSS */

.site-footer
{
  background-color:#26272b;
  padding:5rem 1rem;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#ff725e;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.footer-links li>a:before {
    content: '\27A4';
	display: block;
	
    font-family: pix-fonts;
    width: 20px;
    float: left;
}
.dif li>a:before {
    content: '' !important;
	display: block;
    font-family: pix-fonts;
    width: 20px;
    float: left;
}
.dif li>a:before:hover {
    content: '' !important;
	display: block;
	color:#ff725e;
    font-family: pix-fonts;
	width: 20px;
	
	float: left;
}
.orange{
	color:#ff725e;
}

.footer-links li>a {
   color: #aeacac
}
.footer-links li>a:before:hover {
    content: '\27A4';
	display: block;
	color:#ff725e;
    font-family: pix-fonts;
	width: 20px;
    float: left;
}
.text-info{
	color:#ff725e !important;
}
.text-info:hover{
	color: red !important;
}


.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}